---
title: Hello World
draft: true
---

The following example shows how you can do a thing with Eleventy.

<!--more-->

First, we need to create a new package.json file using <kbd>npm init -y</kbd>.
Next, we'll install the <code>@11ty/eleventy</code> dependency using <kbd>npm i @11ty/eleventy -D</kbd>
